
    .aboutMe__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .aboutMe__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutMe__image{
        width: 60%;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .aboutMe__text{
        margin: 1rem 0;
        font-weight: 400;
    }

    .aboutMe__button{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
    }

    @media screen and (min-width: 400px){
        .aboutMe__button{
            width: 40%;
        }
    }

    @media screen and (min-width: 550px){
        .aboutMe__button{
            width: 28%;
        }
    }

    @media screen and (min-width: 720px) {
        .aboutMe__container{
            flex-direction: row;
        }

        .aboutMe__text{
            text-align: justify;
            margin-left: 1em;
        }

        .aboutMe__button{
            width: 50%;
        }

        .aboutMe__image{
            width: 40%;
        }

    }

    @media screen and (min-width: 950px){
        .aboutMe__button{
            width: 32%;
        }

        .aboutMe__image{
            width: 30%;
        }
    }

    @media screen and (min-width: 1200px){
        .aboutMe__button{
            width: 15%;
        }

        .aboutMe__image{
            width: 20%;
        }

        .aboutMe__text{
            font-size: 1.2em;
        }

    }