
    .apresentation__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apresentation__title{
        background-image: linear-gradient(to left, var(--colorBackgroundGradientTextOne), var(--colorBackgroundGradientTextTwo));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .apresentation__subtitle{
        font-weight: 500;
        margin: 0.5rem 0;
    }

    .apresentation__subtitle--welcome{
        display: inline-block;
        margin: 0.5em 0;
    }

    .apresentation__subtitle--welcome, .apresentation__littleAboutMe{
        font-weight: 400;
    }

    .apresentation__photo{
        margin-top: 0.25em;
        width: 70%;
        border: 0.1em solid black;
        border-radius: 1em;
        box-shadow: 0.2rem 0.2rem black;
    }

    @media screen and (min-width: 720px) {
        .apresentation__container{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .apresentation__photo{
            width: 50%;
            margin-left: 1em;
        }
    
        @media screen and (min-width: 950px){
            .apresentation__photo{
                width: 45%;
            }
        }
    
        @media screen and (min-width: 1200px){

            .apresentation__title, .apresentation__subtitle{
                font-size: 2em;
            }

            .apresentation__subtitle--welcome, .apresentation__littleAboutMe{
                font-size: 1.2em;
            }

            .apresentation__photo{
                width: 30%;
            }

            
        }
        
    }