
    .contact__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        flex-wrap: wrap;
        margin: 2em 0;
        animation: right 1s;
    }

    .contact__card{
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.3em;
    }

    .contact__card--img{
        padding: 0.2em;
        background-color: var(--colorBackgroundContactImage);
        border-radius: 50%;
        padding: 0.5em;
    }

    .contact__card--img:hover{
        transform: rotate(360deg);
        transition: 1s;
    }

    .contact__title{
        font-weight: 500;
    }

    .contact__title:hover{
        text-decoration: underline;
        transition: 0.5s;
    }

    #linkedin:hover{
        background-color: var(--colorBlue);
        transition: 0.5s;
    }

    #github:hover{
        opacity: 0.5;
        transition: 0.5s;
    }

    #whatsapp:hover{
        background-color: var(--colorGreen);
        transition: 0.5s;
    }

    #email:hover{
        background-color: var(--colorGray);
        transition: 0.5s;
    }

    @media screen and (min-width: 500px){
        .contact__container{
            grid-template-columns: repeat(4, 1fr);
        }

        .contact__card{
            margin: 0;
        }
    }
