
    .contact__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        flex-wrap: wrap;
        margin: 2em 0;
    }

    .contact__card{
        width: 40%;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 500px){
        .contact__container{
            grid-template-columns: repeat(4, 1fr);
        }

        .contact__card{
            margin: 0;
        }
    }
