
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root{
        --colorBackgroundWhiteModeView: #F1F1F1;
        --colorBackgroundBlackModeView: #0A0119;
        --colorTextDetailTitle: #9429db;
        --colorBackgroundGradientTextOne: #ca1212;
        --colorBackgroundGradientTextTwo: #2215d6;
        --colorBackgroundGradientSubtitleOne: #8907a3;
        --colorBackgroundGradientSubtitleTwo: #0013c0;
        --colorBackgroundCardsTechnologies: #DFDFDF;
    }

    html{
        @media (max-width: 720px){
            font-size: 87.5%;
        }
    }

    html{
        @media (max-width: 1080px){
            font-size: 93.75%;
        }
    }

    body{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding : 0 3%;
        background-color: var(--colorBackgroundWhiteModeView);
    }

    button{
        padding: 1em 2em;
        border-radius: 0.25em;
        border: 0.1em solid var(--colorTextDetailTitle);
        cursor: pointer;
    }

    .subtitle{
        margin: 1rem 0;
        background-image: linear-gradient(to left, var(--colorBackgroundGradientSubtitleOne), var(--colorBackgroundGradientSubtitleTwo));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }