
    .header__container{
        padding : 0 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .header__title--detail{
        color: var(--colorTextDetailTitle);
    }

    .header__title{
        animation: rightLetter 1s;
    }

    .header__itens{
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: upAndDownLetter 1s;
    }

    .header__button{
        background-color: blueviolet;
        border-radius: 50%;
        padding: 0.25rem;
        margin-left: 1em;
        border: 0.1em solid black;
    }

    .header__modePage{
        background-color: yellow;
        border-radius: 50%;
        padding: 0.5rem;
        border: 0.1em solid black;
    }

    .header__container--desktop{
        display: none;
    }

    .header__itens--list__itens:hover{
        opacity: 0.3;
        text-decoration: underline;
        transition: 0.5s;
    }

    .header__itens--list:hover{
        
        transition: 1s;
    }

    @media screen and (min-width: 720px){
        .header__container{
            display: none;
        }

        .header__container--desktop{
            padding : 0 3%;
            margin: 1em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header__itens--list{
            display: flex;
            align-items: center;
            list-style: none;
        }

        .header__itens--list__itens{
            margin: 0 0.5em;
            font-weight: 600;
            color: var(--colorTextDetailTitle);
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1000px){
        .header__title{
            font-size: 2em;
        }
    }

    @media screen and (min-width: 1000px){
        .header__itens--list__itens{
            font-size: 1.25em;
        }
    }