
    .projects__container{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        gap: 2em 1em;
        align-items: center;
    }

    .projects__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        text-align: center;
        padding: 1rem 0;
        border-radius: 1em;
        box-shadow: 0.1em 0.1em black;
        background-color: transparent;
        cursor: pointer;
    }

    .projects__cards--image{
        border-radius: 0.5em;
        width: 95%;
        max-width: 300px;
    }

    .projects__cards--title{
        margin: 1.5em 0;
        font-weight: 500;
    }

    .projects__styles--title{
        padding: 0.5rem 0.25rem;
        border-radius: 10%;
        border: 0.1rem solid var(--colorTextDetailTitle);
        font-weight: 400;
    }

    .projects__cards--github{
        margin-top: 1.5em;
        width: 150%;
    }

    @media screen and (min-width: 700px){
        .projects__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 1010px){
        .projects__container{
            grid-template-columns: repeat(3, 1fr);
        }
    }