
    .technologies__container{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        gap: 2em 1em;
    }

    .technologies__cards{
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 300px;
        align-items: center;
        padding: 0.5em 0;
        background-color: var(--colorBackgroundCardsTechnologies);
        border-radius: 1em;
        box-shadow: 0.125em 0.125em black;
    }

    .technologies__cards--image{
        width: 30%;
        border-radius: 0.5em;
    }

    .technologies__cards--title{
        margin: 0.5em 0;
        font-weight: 400;
    }

    @media screen and (min-width: 700px){
        .technologies__container{
            grid-template-columns: 50% 50%;
        }
    }

    @media screen and (min-width: 1010px){
        .technologies__container{
            grid-template-columns: 33% 33% 33%;
        }
    }