
    .technologies__container{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        gap: 2em 1em;
    }

    .technologies__cards{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 300px;
        align-items: center;
        padding: 0.5em 0;
        background-color: transparent;
        border-radius: 1em;
        box-shadow: 0.125em 0.125em black;
        animation: upLetter 1s;
    }

    .technologies__cards:hover{
        transform: translateX(1.1em) translateY(1.1em) scale(1);
        box-shadow: 0.8em 0.8em black;
        background-color: var(--colorCardHover);
        color: var(--colorBackgroundWhiteModeView);
        transition: 0.5s;
    }

    .technologies__cards--image{
        width: 30%;
        border-radius: 0.5em;
    }

    .technologies__cards--title{
        margin: 0.5em 0;
        font-weight: 400;
    }

    @media screen and (min-width: 700px){
        .technologies__container{
            grid-template-columns: 50% 50%;
        }
    }

    @media screen and (min-width: 1010px){
        .technologies__container{
            grid-template-columns: 33% 33% 33%;
        }
    }